h1, h3, h5, p, h2 {
    text-align: center;
}

h1 {
    text-shadow: 2px 2px goldenrod;

}

.im, .p2-score {
    color: red;
}

.ca, .p1-score {
    color: blue;
}

#buttons {
    text-align: center;
}

.p1-score, .p2-score, .ties {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

#p1, #p2, #win, #p1s, #p2s {
    text-align: center;
}

#winner, #winning-img {
    font-size: 28px !important;
    font-weight: bold;
    padding-bottom: 5px;
}

#iron-man, #cap-amer {
    text-align: center;
}

